.shapes {
  width: 100%;
  width: 1400px;

  margin: auto;
  position: relative;
  z-index: -1;
}

.shape-dark {
  width: 51rem;
  height: 37rem;
  background-color: #6e72fc;
  transform: rotate(-50deg);
  top: -14rem;
  right: -17rem;
}

.shape-light {
  width: 51rem;
  height: 37rem;
  background-color: #6e73fc61;
  transform: rotate(-50deg);
  top: -9rem;
  right: -18rem;
}
