@use "../../styles/variables" as v;

.hero {
  max-width: v.$wrapper-max-width;
  height: calc(100vh - 5rem);
  margin: auto;

  .content {
    padding-top: min(35vw, 13rem);
    opacity: 0;
    .text {
      .heading {
        font-size: clamp(2.25rem, 5.5vw, 3.5rem);
        .coloured {
          color: v.$main-color;
        }
      }

      .subheading {
        @media (max-width: 767px) {
          padding-right: 4rem;
        }

        @media (max-width: 576px) {
          padding-right: 2rem;
        }
      }
    }

    .image-wrapper {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 10px #22222268);
      }
    }
  }
}
