@use "../../styles/variables" as v;

.steps {
  background-color: v.$main-light;

  .content {
    max-width: v.$wrapper-max-width;
    margin: auto;
    padding-inline: 2rem;

    .arrow {
      @media (max-width: 576px) {
        transform: rotate(90deg);
        margin-bottom: 1rem;
      }
    }
  }
}
