@use "../../styles/variables" as v;

.overview {
  max-width: v.$wrapper-max-width;
  margin: auto;
  padding-inline: 2rem;

  .image-wrapper {
    width: 25rem;
    height: auto;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
